:root {
  --transparant: transparent;
  --teal: #27c3b9;
  --purple: #c08ae4;
  --whitesmoke: whitesmoke;
  --font: 'Truculenta', sans-serif;
}

body {
  padding: 4.5rem;
  margin: 0;
  background: var(--teal);
  background: radial-gradient( var(--purple) 0,var(--teal)68%);
  font-family: 'Inter', sans-serif;
}

textarea{
  background-color: var(--transparant);
  font-size: 20px;
  border: none;
  resize: none;
  font-family: var(--font);
  color: var(--whitesmoke);
  border-left: 1px solid var(--whitesmoke);
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: var(--transparant);
  color: var(--whitesmoke);
  border-radius: 0;
  border-bottom: 10px solid var(--whitesmoke);
  font-family: 'Merienda', cursive;
}

.description{
  white-space: pre-wrap;
}
.container {
  background-color: var(--transparant);

}

div{
  background-color: transparent;
  box-shadow: 0 8px 32px 0 rgba(140, 147, 243, 0.37);
  border-radius: 10px;
  border: 1px transparent

}

.time-block{
  text-align: center;
  border-radius: 15px;
  justify-content: center;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid var(--whitesmoke);
  justify-content: center;
}

.hour {
  background-color: transparent;
  color: var(--whitesmoke);
  justify-content: center;
  text-align: center;
}

.past {
  background-color:  #FFFEF2;
  filter: contrast(180%);
  opacity: .2;
  font-family: 'Dela Gothic One', cursive;
  color: red
}

.present {
  background-color: transparent;
  color: whitesmoke;
}

.future {
  background-color:#EAE6CC;
  filter: contrast(180%);
  opacity: .2;
  color: var(--teal);
}

.saveBtn {
  border-left: 1px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color:transparent;
  color: var(--whitesmoke);
}

.saveBtn i:hover {
  font-size: 50px;
  transition: all .3s ease-in-out;
  color: var(--whitesmoke);
}